<a href="https://colab.research.google.com/github/radhasolanki4143/web-development/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn .model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

In [3]:
data = pd.read_csv("/content/advertising.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
print(data.info())
print(data.describe())

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

#scatter plot
plt.figure(figsize=(8,5))
plt.scatter(data["TV"],data["Sales"],alpha=0.7)

#regresssion line
m, b =np.polyfit(data["TV"],data["Sales"],1)
plt.plot(data["TV"],m*data["TV"]+ b)

plt.xlabel("TV Advertising Budget")
plt.ylabel("Sales")
plt.title("TV Advertising vs Sales  with Trend Line ")
plt.grid(True)
plt.show()

In [ ]:
X = data[["TV", "Radio", "Newspaper"]]
y = data["Sales"]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(6,4))
sns.heatmap(data.corr(),annot=True, linewidths=0.5)
plt.title("Correlation Between Advertising Channel and Sales")
plt.show()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
plt.figure(figsize=(7,5))
plt.boxplot([data["TV"], data["Radio"], data["Newspaper"]],
            labels=["TV", "Radio", "Newspaper"])
plt.ylabel("Advertising Budget")
plt.title("Advertising Budget Distribution by Channel")
plt.grid(True)
plt.show()

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R2 Score:", r2_score(y_test, y_pred))

In [ ]:
plt.figure()
plt.scatter(y_test, y_pred)
plt.xlabel("Actual Sales")
plt.ylabel("Predicted Sales")
plt.title("Actual vs Predicted Sales")
plt.show()

In [ ]:
new_data = pd.DataFrame({
    "TV": [200],
    "Radio": [40],
    "Newspaper": [30]
})

predicted_sales = model.predict(new_data)
print("Predicted Sales:", predicted_sales[0])